.staffHeaderContainer {
    width: 80vw;
    height: 7rem;
    background-color: #0B1340;
    color: #fff;
    border-left: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}