.staffNavContainer {
    width: 20vw;
    height: 100vh;
    color: white;
    background-color: #0B1340;
}

.staffNav > .userEdit{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.staffNav > .userEdit > .profile{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.staffNav > .userEdit > .profile > img {
    width: 70%;
}

.staffNav > .userEdit > .detail{
    margin-left: 1rem;
}

.staffNav > .userEdit > .detail > .button {
    margin-top: 0.4rem;
}

.staffNav > .userEdit > .detail > .button > img{
    cursor: pointer;
    width: 1rem;
}

.staffNav > .userEdit > .detail > .button > img:hover{
    background-color: rgba(255, 255, 255, 0.438);
}

.staffNav > .userEdit > .detail > .button > img:first-child {
    width: 0.75rem;
    margin-right: 0.4rem;
}

.vaccinePlacePage ,.reservationCheckPage,.approveDocumentPage{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.vaccinePlacePage:hover ,.reservationCheckPage:hover,.approveDocumentPage:hover{
    background-color: rgba(255, 255, 255, 0.438);
}

.vaccinePlacePage>div , .reservationCheckPage>div , .approveDocumentPage>div {
    margin-left: 2rem;
}

.vaccinePlacePage>img , .reservationCheckPage>img , .approveDocumentPage>img {
    width: 2rem;
}

.vaccinePlacePage_Selected {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.438);
}

.reservationCheckPage_Selected {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.438);
}

.approveDocumentPage_Selected {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.438);
}

.vaccinePlacePage_Selected>div , .reservationCheckPage_Selected>div , .approveDocumentPage_Selected>div {
    margin-left: 2rem;
}

.vaccinePlacePage_Selected>img , .reservationCheckPage_Selected>img , .approveDocumentPage_Selected>img {
    width: 2rem;
}